/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto/Roboto-Regular.ttf) format('ttf');
}

* {
    font-family: 'Roboto';
}
